* {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$Bright-Red: hsl(12, 88%, 59%);
$Dark-Blue: hsl(228, 39%, 23%);
$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Vary-Light-Gray: hsl(0, 0%, 98%);
.btn {
    background-color: $Bright-Red;
    border-radius: 20px;
    color: $Very-Pale-Red;
    padding: 10px;
    &:hover {
        background-color: rgba($Bright-Red, .7);
        color: white;
        box-shadow: 0px 21px 20px rgba($Bright-Red, 0.4);
    }
}

body {
    background-image: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 123% -12%, -60% 60%;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

nav {
    width: 100%;
    // background-color: white;
    .navbar-nav {
        margin-left: 150px;
        .nav-item {
            color: $Dark-Blue;
            cursor: pointer;
            &:hover {
                color: $Dark-Grayish-Blue;
            }
        }
    }
    .btn {
        margin-left: 300px;
        align-self: flex-end;
    }
    button {
        .close {
            display: none;
        }
    }
}

.home {
    // background: url(./images/bg-simplify-section-desktop.svg) no-repeat center left;
    // padding-top: 200px;
    .container-lg {
        .row {
            .col-md-6 {
                h1 {
                    font-size: 60px;
                    font-weight: 700;
                    color: $Dark-Blue !important;
                    margin-right: 100px;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    color: $Dark-Grayish-Blue !important;
                    margin-right: 200px;
                    line-height: 1.6;
                }
                img {
                    width: 70%;
                    height: 100%;
                }
            }
        }
    }
}

.manage {
    margin-top: 100px;
    .container-lg {
        .row {
            .col-md-6 {
                h2 {
                    font-size: 35px;
                    font-weight: 700;
                    color: $Dark-Blue !important;
                    margin-right: 100px;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    color: $Dark-Grayish-Blue !important;
                    margin-right: 200px;
                    line-height: 1.6;
                }
                .content {
                    margin: 10px;
                    span {
                        background-color: $Bright-Red;
                        color: white;
                        padding: 5px 20px;
                        border-radius: 20px;
                        height: fit-content;
                        margin-right: 15px;
                    }
                    h3 {
                        font-size: 20px;
                        font-weight: 700;
                        color: $Dark-Blue !important;
                        margin-bottom: 0;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 300;
                        color: $Dark-Grayish-Blue !important;
                        line-height: 1.6;
                        padding: 5px;
                        margin-right: 90px;
                    }
                }
            }
        }
    }
}

.slider {
    position: relative;
    h3 {
        font-size: 40px;
        font-weight: 700;
        color: $Dark-Blue !important;
        margin-bottom: 0;
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        display: none;
        .swiper-pagination-bullet {
            background: rgba($Bright-Red, .5);
            opacity: .2;
        }
        .swiper-pagination-bullet-active {
            opacity: var(--swiper-pagination-bullet-opacity, 1);
            background: $Bright-Red;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        // background: #fff;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            width: 100px;
            height: 100px;
            position: relative;
            top: 50px;
            z-index: 1000;
        }
        .context {
            background-color: rgba($Very-Pale-Red, .5);
            padding: 10px;
            padding-top: 100px;
            text-align: center;
            h5 {
                font-size: 20px;
                font-weight: 700;
                color: $Dark-Blue !important;
                margin-bottom: 0;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                color: $Dark-Grayish-Blue !important;
                line-height: 1.6;
                padding: 5px;
            }
        }
    }
}

.team {
    padding: 20px 0;
    background-color: $Bright-Red;
    position: relative;
    .overlay {
        background-image: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: 6% 12%, 175% 112%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .1;
        z-index: 10;
    }
    p {
        font-size: 40px;
        font-weight: 300;
        color: $Very-Pale-Red!important;
        line-height: 1.6;
        padding: 5px;
        word-break: break-all;
        width: 500px;
    }
    .btn {
        background-color: $Very-Pale-Red;
        color: $Bright-Red;
        padding: 10px;
        font-weight: 700;
        height: fit-content;
        &:hover {
            color: rgba($Bright-Red, .7);
        }
    }
}

.footer {
    background-color: $Very-Dark-Blue;
    color: $Dark-Grayish-Blue;
    .logo {
        display: flex;
        flex-direction: column;
    }
    ul {
        li {
            padding: 8px;
            cursor: pointer;
            &:hover {
                color: $Bright-Red;
            }
        }
    }
    svg {
        margin-right: 10px;
        cursor: pointer;
        path:hover {
            fill: $Bright-Red !important;
        }
    }
    input {
        padding: 10px;
        border-radius: 20px;
        &:hover {
            border-color: $Bright-Red;
            &::placeholder {
                color: $Bright-Red;
            }
        }
    }
    .errorr {
        color: $Bright-Red;
        padding-left: 10px;
        font-size: 12px;
        display: none;
        &.active {
            display: block;
        }
    }
    p {
        font-size: 12px;
        text-align: center;
    }
    .btn {
        padding: 10px 20px;
    }
}

@media (max-width: 400px) {
    body {
        background-image: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: -44% -2%, -183% 18%, ;
        background-size: 131%;
    }
    nav {
        .navbar-collapse {
            ul {
                width: 75%;
                text-align: inherit;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 20px;
                margin: 20px;
                margin-left: 43px !important;
                background-color: white;
                li {
                    text-align: center;
                    padding: 10px;
                }
            }
            button {
                display: none;
            }
        }
    }
    .home {
        .container-lg {
            .row {
                text-align: center;
                .col-md-6 {
                    &.image {
                        order: 1;
                    }
                    &.text {
                        order: 2;
                    }
                    h1 {
                        font-size: 40px !important;
                        margin: auto;
                    }
                    p {
                        margin: auto
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .manage {
        margin-top: 50px;
        .container-lg {
            .row {
                text-align: center;
                .col-md-6 {
                    padding: 5px;
                    h2 {
                        margin: auto;
                        font-size: 27px;
                    }
                    p {
                        margin: auto;
                    }
                    .content {
                        margin: 10px;
                        .d-flex {}
                        span {
                            margin-right: 0;
                        }
                        h3 {
                            font-size: 15px;
                            padding: 8px 10px;
                            background-color: rgba($Bright-Red, 0.1);
                            margin-left: -10px;
                        }
                        p {
                            margin: auto;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
    .slider {
        position: relative;
        h3 {
            font-size: 30px;
            font-weight: 700;
            color: $Dark-Blue !important;
            margin-bottom: 0;
        }
        .swiper {
            width: 100%;
            height: 100%;
        }
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: -5px;
            left: 0;
            width: 100%;
            display: block;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 100px;
                height: 100px;
                position: relative;
                top: 50px;
                z-index: 1000;
            }
            .context {
                background-color: rgba($Very-Pale-Red, .5);
                padding: 10px;
                padding-top: 100px;
                text-align: center;
                h5 {
                    font-size: 20px;
                    font-weight: 700;
                    color: $Dark-Blue !important;
                    margin-bottom: 0;
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: $Dark-Grayish-Blue !important;
                    line-height: 1.6;
                    padding: 5px;
                }
            }
        }
    }
    .team {
        .d-flex {
            flex-direction: column;
            text-align: center;
        }
        p {
            font-size: 33px;
            margin: auto;
            width: 311px;
            margin-top: 10px;
        }
        .btn {
            margin: auto;
            &:hover {
                color: rgba($Bright-Red, .7);
            }
        }
    }
    .footer {
        padding: 10px !important;
        padding-top: 20px !important;
        padding-bottom: 50px !important;
        .container-xl {
            padding: 10px;
        }
        .logo {
            order: 4;
            text-align: center;
            padding-top: 10px;
            align-items: center;
            justify-content: center;
            .d-flex {
                align-items: center;
                justify-content: center;
                padding: 0 !important;
                order: 1;
                svg {
                    width: 30 !important;
                    height: 30 !important;
                }
            }
            .logo1 {
                order: 2;
                margin: 20px;
            }
        }
        .last {
            order: 2;
            height: 55px;
            p {
                position: relative;
                top: 250px;
            }
        }
        .list1,
        .list2 {
            order: 3;
            width: 50%;
            padding-top: 10px;
        }
    }
}